:root{
    --primary-bg-color: rgb(60, 133, 249);
    --primary-text-color: #fff;
    --primary-btn-bg-color: #ced4da;
    --primary-btn-text-color: #eee;
}

body {
    background-color: var(--primary-bg-color);
}
